.main {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #000000;
}

.movies {
  margin-top: 100px;
  width: 930px;
}

.movies__title,
.movies__lable {
  display: inline-flex;
  padding: 8px 20px 8px 20px;
  border-radius: 40px;
  color: #f3f6f9;
  background-color: #6532f8;
}

.movies__subtitle {
  margin-bottom: 50px;
  font-size: 120px;
  color: #f3f6f9;
}

.movies__inner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #232323;
}

.movies__form {
  gap: 20px;
  display: flex;
  align-self: start;
  flex-direction: row;
}

.movies__input {
  margin-bottom: 30px;
  margin-left: 80px;
  font-size: 20px;
  width: 411px;
  height: 50px;
  opacity: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f3f6f9;
  background: none;
  color: #f3f6f9;
}
.movies__input::placeholder {
  font-size: 30px;
}
.movies__btn {
  padding: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background: url(./Vector.svg);
  background-color: #6532f8;
  background-repeat: no-repeat;
  background-position: center;
}

.movies__btn:hover {
  background-color: #7c50ff;
}

.movies__close-btn {
  border: none;
  cursor: pointer;
  width: 23px;
  height: 23px;
  background: url(./close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.movies__list {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.movies__item {
  padding-left: 20px;
  padding-right: 20px;
  width: 790px;
  height: 71px;
  border-radius: 10px;
  background-color: #3a3939;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies__item-label {
  display: flex;
  gap: 10px;
  align-items: center;
}
.movies__item-title {
  line-height: 71px;
  font-size: 20px;
  color: #f3f6f9;
}
.movies__item-checkbox {
  margin: 0 auto;
  appearance: none;
  border: 1px solid #f3f6f9;
  border-radius: 50%;
  min-width: 19px;
  min-height: 19px;
  color: #f3f6f9;
  opacity: 30%;
  cursor: pointer;
}

.movies__item-checkbox:checked {
  border-color: #f3f6f9;
  background-color: #6532f8;
  opacity: 30%;
}

.movies__item-checkbox:checked ~ .movies__item-title {
  opacity: 0.5;
  text-decoration: line-through;
  color: #f3f6f9;
}

/* .movies__item:has(.movies__item-checkbox:checked) {
  opacity: 0.5;
} */

.movies__item_active {
  opacity: 0.5;
}
